name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  prechecks:
    name: Formatting, lint and docs
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: clippy, rustfmt
    - uses: Swatinem/rust-cache@v2
    - name: Check formatting
      run: cargo fmt --check --verbose
    - name: Lint debug
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Lint release
      run: cargo clippy --release --all-targets --all-features -- -D warnings
    - name: Build docs
      run: cargo +nightly doc --lib --no-deps --all-features --document-private-items
      env:
        RUSTDOCFLAGS: --cfg docsrs --cfg tokio_unstable -Dwarnings
        RUSTFLAGS: --cfg tokio_unstable -Dwarnings
    - name: Run doctests
      run: cargo test --doc

  checks:
    name: Build and run tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: taiki-e/install-action@v2
      with:
        tool: nextest
    - uses: Swatinem/rust-cache@v2
    - name: Build test executables
      run: cargo nextest run --no-run
    - name: Run tests
      run: cargo nextest run --all-targets --all-features --no-fail-fast --failure-output=final
    - name: Build release
      run: cargo build --release --all-targets --verbose

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    needs: checks
    steps:
    - uses: actions/checkout@v5
    - uses: dtolnay/rust-toolchain@stable
    - uses: taiki-e/install-action@v2
      with:
        tool: nextest,cargo-llvm-cov
    - uses: Swatinem/rust-cache@v2
    - name: Check code coverage
      run: cargo llvm-cov nextest --all-features --workspace --ignore-run-fail --fail-under-lines 80
